@model JustInTimeCompany.Models.ViewModels.FlightViewModel
@{
    ViewData["Title"] = "Edit";
    //TODO Peut on modifier un flight pour le mettre dans le passé ?
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery csrf

@functions
{
    public string GetAntiCsrfToken()
    {
        return csrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestCsrfToken" name="RequestcsrfToken" value="@GetAntiCsrfToken()"/>

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Flight.Id"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Flight.Id" value="Flight.Id"/>
            <div class="form-floating">
                <select class="form-control" asp-for="Flight.From.Id" asp-items="@(new SelectList(Model.Airports, "Id", "Name"))"></select>
                <label asp-for="Flight.From"></label>
                <span asp-validation-for="Flight.From.Id" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select class="form-control" asp-for="Flight.To.Id" asp-items="@(new SelectList(Model.Airports, "Id", "Name"))"></select>
                <label asp-for="Flight.To"></label>
                <span asp-validation-for="Flight.To.Id" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select id="pilots" class="form-control" asp-for="Flight.Pilot.Id">
                </select>
                <label asp-for="Flight.Pilot"></label>
                <span asp-validation-for="Flight.Pilot" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select class="form-control" asp-for="Flight.Helicopter.Id" asp-items="@(new SelectList(Model.Helicopters, "Id", "Model"))"></select>
                <label asp-for="Flight.Helicopter"></label>
                <span asp-validation-for="Flight.Helicopter.Id" class="text-danger"></span>
            </div>
            @{
                string date;
                if (Model.Flight != null && Model.Flight.ScheduledDeparture != null)
                    date = Model.Flight.ScheduledDeparture.ToString("yyyy-MM-ddTHH:mm");
                else
                    date = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
            }
            <div class="form-floating">
                <input id="selectedDate" asp-for="Flight.ScheduledDeparture" class="form-control" value="@date"/>
                <label asp-for="Flight.ScheduledDeparture"></label>
                <span asp-validation-for="Flight.ScheduledDeparture" class="text-danger"></span>
            </div>
            @Html.ValidationSummary(true)
            <input type="submit" value="Submit" class="btn btn-outline-warning"/>
            <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/PilotsForDate.js"></script>
    <script>loadPilots();</script>
}
